* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: #fff;
}

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: space-between;
  justify-content: space-between;
}
.box1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 5px;
}

.box1 > div {
  margin: 14px 5px 0 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 > div > a {
    text-decoration: none;
    color: #444746;
    letter-spacing: 0.6px;
    font-size: 0.9em;
}
.box1 > div:nth-child(1) > a:hover, .box1 > div:nth-child(2) > a:hover {
    text-decoration: underline;
}
.box1 > div:nth-child(n) {
  position: relative;
  border: 0px solid transparent; /* Initial border to keep layout consistent */
  padding: 5px;
  transition: all 0.7s ease-in-out;
}
.box1  > div:nth-child(n+3):hover {
    padding: 5px;
    background-color: rgba(128,128,128,0.2);
    box-shadow: 0 0 20px rgba(128, 128, 128,0.2);
    border: 0px solid rgba(128,128,128, 0.3); /* Border color on hover */
    border-radius: 50px;
}

.box2 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}
.box2-inside > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.box3 {
  width: 100%;
}

.search-bar {
  --padding: 14px;


  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  border: 1px solid rgba(128,128,128,0.4);
  border-radius: 28px;
}
.search-box > input {
    transform: translateY(-5px);

}
.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    align-items: center;

}

.search-bar {
    flex-grow: 1;

}
.search-box .search-input {
    margin-left: var(--padding);
    border: none;
    outline: none;
    background: transparent;
    flex-grow: 1;
}
.search-box > .search-icon {
    transform: translateX(-160px);
}
.search-box > .end-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    transform: translateX(150px);
}
.box2 > .search-lucky {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  gap: 2em;
  cursor: pointer;
  margin-top: 5px;
}
.box2 > .search-lucky > div > a {
  text-decoration: none;
  color: #444746;
  background-color: #F8F9FA;
  font-size: 0.9em;
}

.box2 > .search-lucky > div {
  flex-grow: 1;
  background-color: #F8F9FA;
  padding: 5px;
  border: 0.2px solid transparent;

}
.box2 > .search-lucky > div:hover {
    box-shadow: 0px 0px 0.5px 0.3px rgba(128, 128, 128,0.2);
    border: 0.2px solid rgba(128, 128, 128,0.2);

}
.box2 > .language {
  margin-top: 28px;
}
.box3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.box3 > .bottom > .country {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  background-color: #F2F2F2;
  height: 50px;
  border-bottom: 1px solid rgba(128,128,128,0.2);
  padding-left: 20px;
}
.bottom > .most-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  background-color: #F2F2F2;
  height: 50px;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid rgba(128,128,128,0.2);

}
.bottom > .most-bottom > .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
    background-color: #f2f2f2;
  flex-grow: 1;
}

.bottom > .most-bottom > .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background-color: #f2f2f2;
  flex-grow: 1;
}
.bottom > .most-bottom > .left > div {
  background-color: #f2f2f2;
  padding: 5px;
}
.bottom > .most-bottom > .right > div {
  padding: 5px;
  background-color: #f2f2f2;
}
.bottom > .most-bottom > div > div > a {
  background-color: #f2f2f2;
  text-decoration: none;
  font-size: 0.9em;
  color: black;
}
@media only screen and (max-width: 689px) {
  .bottom > .most-bottom {
    display: flex;
    flex-direction: column;
  }
  .box3 {
    width: 100%;
  }
}

@media screen and (min-width: 690px) and (max-width: 1200px) {
    .bottom > .most-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-grow: 1;
    }

}
